* {
  
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
}

.tech,
.typescript,
.writing{
margin-top: 40px;
}
.container{
  padding: 50px;
  background-color: blueviolet;
}

.computer,
.bible,
.fear,
.testing {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.beginner{
  width: 68%;
  border: 2px solid yellow;
}

.begining{
  width: 52%;
  border: 2px solid yellow;
}

.begins{
  width: 42%;
  border: 2px solid red;
}

.begin{
  width: 80%;
  border: 2px solid gold;
}

p{
  font-size: 20px;
  margin-top: 15px;
  text-align: justify;
}

h1 {
  /* color: blue; */
  margin-top: 15px;
  /* text-decoration: underline; */
}

#language h1{
  color: aqua;
  
}

